/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*****custom css****/
body{font-family: "Avenir";}
/********index.html atlas page*********/
@font-face {
font-family: "Avenir";
src: url(../font/AvenirLTStd-Black.otf);
src: url(../font/AvenirLTStd-Book.otf);
src: url(../font/AvenirLTStd-Roman.otf);
}

.atlas{
    background-image: linear-gradient(#0659A0,#73b9de);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    text-align: left;
    font-family: "Avenir";
    background-color: #fff;
    
}
.logo{margin: 50px 0;padding: 0 48px;}
.logo img{max-width: 204px;}
.site_content h2, .site_content p{color: #FFF;margin: 10px 0;padding: 0 48px;line-height: normal;}
.site_content h2{font-size: 32px;font-weight: bold;}
.site_content p{font-size: 18px;}

.site_button{margin:40px 0;}
.site_button img{/*padding:7px 15px;border-radius: 5px;background: #FFF;font-size: 20px;
    text-decoration: none;color: #0759A2;*/max-width: 275px;margin:15px auto;display: block;}
.site_button img{width: 100%;}    
.sold{margin: 0 auto;text-align: center;margin:50px 0;position: relative;}
.sold span{display: inline-block;color: #FFF;text-transform: uppercase;font-size: 12px;}
.sold span img{margin: 0;position: relative;top: 15px;}

.footer_home{position: relative;}
.footer_home img{width: 100%;height: 100%;position: relative;top: 3px;}

/************user address***************/
body .user_address{padding: 10px;}
.links{display: block;width: 80%;margin: 0 10%;padding: 10px 0;clear: both;overflow: auto;}
.half{width: 50%;}
.left{float: left;}
.right{float: right;}
.links .right{text-align: right;}
.links .left{text-align: left;}
.links a{color:#025091;position: relative;text-decoration: none;}
.links a img{position: relative;top: 1.5px;}
.user_address h3{color: #0b2870;}
.my_home{display: block;text-align: center;width: 80%;margin:70px auto;}
.my_home img{margin: 0 0 20px;}
.my_home h3{font-size: 32px;text-transform: capitalize;margin: 0 0 20px;font-weight: bold;}
.my_home p{color: #81807e;line-height: normal;}
.enter_addr{width: 80%;margin: 0 auto;}
.enter_addr input{padding:10px 15px;color: #025091;border-radius:20px;width:100%;margin: 0 auto;
border: 1px solid #707070;}
.enter_addr img{margin: 10px 0 0 10px;}
.small_text{width: 80%;margin:100px auto 10px;}
.small_text p{font-size: 10px;color: #6F6E6C;line-height: 12px;margin: 0 0 10px 0;letter-spacing: -0.2px;}

/**********locating_home************/
.locating_home{background: #0b2870;display: block;overflow: auto;}
.locating_home_bg{background-color: #0b2870;}
.locating_home a{color:#fff;}
.progress {background:rgb(123 139 178);width: 100%;height:2px;}
.progress-indicator_1 {background:#7BB28B;width:15%;height:2px;animation: load 3s infinite;}
@keyframes load {
  0% {
    width: 0;
    background: white;
  }

  25% {
    width: 10%;
    background: white;
  }

  50% {
    width: 30%;
    background: white;
  }

  75% {
    width: 50%;
    background: white;
  }

  100% {
    width: 100%;
    background: white;
  }
}
.locate_top{width: 80%;margin: 0 auto;text-align: center;}
.locate_top img{margin: 40px 0 15px 0;}
.locate_top h3{font-size: 19px;line-height: 22px;letter-spacing: -0.38px;color: #FFF;font-weight: lighter;
margin: 0 0 40px 0;}

.locate_content{margin: 50px auto;width: 80%;}
.locate_content h3 , .locate_content p{color: #FFF;margin: 0 0 35px;}
.locate_content h3{font-weight: bold;font-size: 32px;letter-spacing: -0.64px;line-height: 36px;}
.locate_content p{font-weight: normal;font-size: 18px;letter-spacing: -0.36px;line-height: 22px;}


/************Tree Coverage************/
.tree_coverage{background: url(../images/tree_bg.jpg) no-repeat;background-position: top;
  background-size: 100%; margin: 0 auto;background-color: #131d05;}
.tree_coverage .links a{color: #FFF;}


.progress_bar{width: 80%;margin:450px auto 0;}
.progress_bar input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #bdc3c7;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  margin: 0 auto;
  outline: 0;
}
.progress_bar input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #11a2e0 url(../images/awesome-tree.png);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #11a2e0;
  cursor: pointer;
  transition: .3s ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
}
.progress_bar input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #11a2e0 url(../images/awesome-tree.png);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #11a2e0;
  cursor: pointer;
  transition: .3s ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
}
.progress_bar input[type="range"]::-webkit-slider-thumb:hover ,
.progress_bar input[type="range"]::-moz-range-thumb:hover {
    background-color: #11a2e0;
    border: 2px solid #e74c3c;
}
.progress_bar input[type="range"]::-webkit-slider-thumb:active ,
.progress_bar input[type="range"]::-moz-range-thumb:active {
    transform: scale(1.6);
}
.progress_bar .range{
    display: block;
    justify-content: center; 
    position: relative;
    margin-top: 15px;
}

.progress_bar label,
.progress_bar label:first-child,
.progress_bar label:nth-child(2),
.progress_bar label:nth-child(3){
        color: #FFF;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.32px;
}
.progress_bar label:first-child{
        position: absolute;
        left: 0;
}
.progress_bar label:nth-child(2){
        position: absolute;
        left:0;
        right: 0;
        margin: 0 auto;
        text-align: center;
}
.progress_bar label:nth-child(3){
        position: absolute;
       right: 0;
}
.progress_bar  h3{font-size: 32px;color: #FFF;letter-spacing: -0.64px;line-height: 36px;margin: 30px 0;
                    font-weight: bold;}
.skyblue_arrow_r{position: relative;top: 40px;float: right;}
.skyblue_arrow_r {background:#11a2e0;padding: 18px;border-radius: 100%;display: block;position: relative;
                   right: -15px;cursor: pointer;}
/******************Pine**********************/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pine_container{background: url(../images/pine.jpg) no-repeat;background-position: top;
  background-size: 100%; margin: 0 auto;background-color: #060606;}
.pine_container .links a , .blue_container .links a{color: #FFF;}
.pine_content{text-align: center;width: 80%;margin: 0 auto;}
.pine_content h3{color: #FFF;font-size: 32px;line-height: 36px;letter-spacing: -0.64px;font-weight: bold;
                 margin:35px 0;}
.pine_blocks .half{display: inline-block;float: left;position: relative;min-height:170px;
    vertical-align: center;}
.pine_blocks span{display: block;font-size: 18px;line-height: 30px;letter-spacing: -0.36px;color: #FFF;
text-transform: capitalize;}
.pine_blocks img{border: 5px solid #FFF;border-radius: 100%;}
.pine_blocks h4{position: absolute;top:40px;margin: 0 auto;text-align: center;color: #FFF;left: 0;right: 0;
                 font-size: 30px;font-weight: bold; }
/********************Roof***********************/
.blue_container{background:#0a2871;}
.white_bt{margin: 20px 0 0 0;}
.clearfix:after, ul:after, ol:after
{ 
content: ""; display: block; clear: both; visibility: hidden;
line-height: 0; height: 0 ;
}
html[xmlns] .clearfix {
 display: block 
}
* html .clearfix {
 height: 1% ;
}
/*********************yard**********************/
.yard_container{background: url(../images/squ_bg.jpg) no-repeat;background-position: top;
  background-size: 100%; margin: 0 auto;background-color: #060606;}
.yard_container .pine_blocks img{width: 70%;}
.yard_container .pine_blocks .half{min-height: 140px;}
.yard_container .links a{color: #FFF;}
.yard_container .pine_content h3{margin: 35px auto 5px auto;}
.yard_container .pine_content > span{font-size: 16px;letter-spacing: -0.32px;line-height: 22px;
    font-style:italic ;color: #FFF;margin: 0 0 15px 0;display: block;font-weight: lighter;}

/********************Select Gutter*************************/
.white_bg{background: #FFF;}
.white_bg h3{font-size: 32px;line-height: 36px;letter-spacing: -0.64px;color: #0B2870;margin: 20px auto;
                font-weight: bold;}
.white_bg p{font-size: 18px;line-height: 22px;letter-spacing: -0.36px;color: #272424;font-weight: normal;
            margin: 10px auto;}
.white_bg .pine_content >label> img{clear: both;display: block;text-align: center;margin: 0 auto;
    border: 3px solid white;margin: 15px auto;}

/*****************Email container*****************/
.email_container{background: url(../images/email_bg.jpg) no-repeat;background-position: top;
  background-size: 100%; margin: 0 auto;background-color: #0C2462;}
.email_container .links a{color: #FFF;}
.email_container .pine_content span{color: #FFF;font-size: 20px;text-transform: capitalize;
        font-weight: lighter;}
.email_container .pine_content p{font-size: 15px;line-height: 22px;letter-spacing: -0.3px;color: #FFF;}        
.email_blocks{width: 100%;text-align: center;}
.email_blocks input{display: block;width:100%;margin:20px auto;}
.email_in{color: #FFF;border: 1px solid #FFFFFF;padding: 12px 40px;background-color:transparent;
            border-radius:30px;font-size: 15px;position: relative;}
            
.email_bt{font-size: 19px;line-height: 22px;letter-spacing: -0.38px;background-color: #11A2E0; 
    border-radius:30px;padding: 12px 40px;color: #FFF;border: none;}
.email_container .email_blocks p{font-size: 11px;line-height: 13px;letter-spacing: -0.22px;
    font-weight: normal;}
.email_container .logo{margin: 25px 0 15px;}
.email_container h3{margin: 50px 0 25px;}
.border_line{border-color: #abb4c9;margin:30px 0;}
.email_blocks h4{font-size: 15px;line-height: 22px;letter-spacing: -0.3px;color: #FFF;font-weight: normal;
                    font-style: italic;}
.email_container .email_blocks span{font-size: 15px;line-height: 22px;letter-spacing: -0.3px;color: #FFF;}
.email_container .email_blocks span a{text-decoration: none;color: #FFF;}
.main_email{position: relative;}
.main_email img{position: absolute;top: 15px;left: 15px;}

/**************************congo_container*******************************/
.congo_container{position: relative;background-color: #FFF;background: url(../images/bg_trans.png) repeat;}
.sky_blue_eclipse{background: url(../images/top_eclipse.png) no-repeat;background-position: top;
  background-size: 100%; margin: 0 auto;background-color: #FFF;text-align: center;}
.blue_eclipse{background: url(../images/top_eclipse2.png) no-repeat;background-position: top;
  background-size: 100%; margin: 0 auto;background-color: #FFF;text-align: center;}
.sky_blue_eclipse span , .blue_eclipse span{font-size: 16px;color: #FFF;line-height: normal;font-weight: bold;
                    display: block;}
.sky_blue_eclipse p , .blue_eclipse p{font-size: 15px;color: #FFF;line-height: normal;text-transform: capitalize;}
.top_block{padding: 20px 0 90px 0; width: 80%;margin: 0 auto;text-align: center;}
.top_block img{margin: 15px 0;}

.white_box{width: 80%;margin:-60px auto 0;text-align: center;background-color: #FFF;z-index: 1;
    border-radius:20px; box-shadow:0px 0px 20px 0px #707070;}
.white_box span{font-size: 12px;color: #7b7b7b;font-style: italic;font-weight: lighter;padding: 15px 0 10px;
                display: block;}
.white_box h4{font-size: 20px;color: #7b7b7b;font-style: normal;font-weight:bold;margin: 0 0 30px 0;}
.white_box h3{color: #0b2870;font-size: 32px;font-weight: bold;}
.white_box h5{color: #0b2870;font-size: 20px;font-weight: bold;margin: 0 0 30px 0;}

.color_box{}
.blue_box ,.sky_blue_box{padding:15px 5px 5px;border-radius: 10px;}
.blue_box.left ,.sky_blue_box.left ,.blue_box.right,.sky_blue_box.right{text-align: center;}
.blue_box{margin:20px 10px 20px 30px;}
.sky_blue_box{margin:20px 30px 20px 10px;background-color: #11a2e0;}
.blue_box{background-color: #0b2870;}
.color_box .half{width: 35%;}
.color_box span{color: #FFF;font-size: 20px;font-style: normal;text-transform: capitalize;line-height: normal;}

.gray_box{background: #f6f6f6;padding: 15px 10px 10px;border-radius: 0 0 20px 20px;}
.row .four_block{width: 25%;float: left;display: inline-block;}
.img_div{min-height: 37px;vertical-align: middle;}
.gray_box .four_block span{color: #179fd9;text-transform: uppercase;font-size:10px;font-weight: normal;
    font-style: normal;line-height: normal; padding: 5px 0;}
.white_box .gray_box > span{width: 80%;margin: 0 auto;padding: 0 0 20px 0;font-size: 13px;
        text-transform: capitalize;line-height: normal;}
.congo_container .sold span{color: #024990;}
.congo_container .sold{margin: 15px 0 30px 0;}
.congo_container .sold span img {top: 8px;left: 8px;}

/*************congrates2**************/
.sky_blue_box2{padding:20px 15px 20px 40px;border-radius: 10px;margin:20px;
    background-color: #11a2e0;position: relative;}
.sky_blue_box2 img{position: absolute;left:25px;top: 30%;}
.white_box .sky_blue_box2 span{padding: 0;}
.white_box p{color: #0b2870;line-height: normal;font-weight: lighter;width: 80%;font-size: 16px;
    margin: 0 auto;}

/*******************get_stared**************************/
.top_header{background-color:#0b2870;padding:35px 0;position: relative;}
.col33 , .col30 , .col60 , .col40 , .col25 , .col50{float: left;}
.col30{width: 30%;}
.col60{width: 60%;}
.col40{width: 40%;}
.col25{width: 25%;}
.col50{width: 50%;}
.col33{width: 33.33%;}
.links2 a{color: #FFF;font-size: 16px;line-height: 22px;letter-spacing: -0.32px;text-decoration: none;
    }
.links2{margin: 0 auto;width: 80%;}
.links2 a.left{text-align: left;}
.links2 a.right{text-align: right;}
.links2 > img{margin: 0 auto;position: absolute;left: 0;right: 0;top: 22px;}
.links2 .col40 ,.links2 .col50 , .links2 .col33{text-align: center;}

/**********map java script********/

.gmt-header{display: none !important;}
.gmt-tool-actions-float-button {top:500px!important}
.gmt-notification-container.gmt-notification-container-default{top: 0 !important;}
.gmt-measure-buttons-container{visibility: visible !important;z-index: 9999 !important;}
.gmt-cancel-measure-button-container , .gmt-end-measure-button-container{width: 50% !important;}
.gmt-end-measure-button-container{display: block !important;}
.gmt-btn-primary{padding: 10px 16px !important;}
#gmt-measure-buttons-container{bottom:130px !important;}
#gmt-end-measure-button {top:-110px;left:-30px;margin: 0 auto;width: 100%;}
.next_sign{position: absolute;}
.plus_sign {position: absolute;right:120px;top: -35px;width: 100%;}
.gmt-h5{float: left; color: #FFF !important;}
#user_address{overflow: hidden;}
.gmt-h5{position: absolute; top:30px !important;font-size:30px !important;line-height: 50px !important;
        line-height: 25px !important;font-weight: bold;max-width: 150px;margin: 0 auto;left: 0;
        right: 0;}
.gmt-caption.grey{display: none !important;}
.gmt-h5 span {display: block;font-size: 20px;text-transform: uppercase;background: #FFF;
    color: #11a2e0;border-top-left-radius: 15px;border-top-right-radius: 15px;}
.gmt-h5 span.fitValue{background: #11a2e0;color: #FFF;padding:10px 5px;font-size: 30px;
    font-weight: bold;border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;
    border-top-left-radius: unset;border-top-right-radius: unset;}
.hand_symbol{background:url(../images/bg_trans_map.png) repeat;padding: 40px;position: absolute;
    top: 50%;text-align: center;
        width:50%;z-index: 999;display: block;left: 0;right: 0;margin: 0 auto;
        border: 1px solid #d2d0cb;border-radius: 25px;}
.hand_symbol img{margin: 0 0 15px 0;}
.hand_symbol span{display: block;color: #d2d0cb;font-size: 16px;}

/***************************tool**************************************/
.sky_bg{background: #11a2e0; height: 100%;} 
.sky_bg .top_header{background-color:#11a2e0 ;margin: 0 0 40px;}
.sky_content{width: 80%;margin: 0 auto;}
.sky_content h3{font-size: 32px;letter-spacing: -0.64px;line-height: 36px;color: #FFF;
    margin: 0 0 30px;}
.sky_content p{font-size: 18px;letter-spacing: -0.36px;line-height: 22px;color: #FFF;
    margin: 0 0 20px;}
.sky_content .skyblue_arrow_r{background: #FFF;}

/***************************************************************************/
.c_g_t_section{background: #0b2870;}
.c_g_t_bt{width: 80%;margin: 0 auto 20px;text-align: center;}
.c_g_t_bt a{background: #11a2e0;padding:15px 25px;position: relative;font-size: 16px;
color: #FFF;font-weight: bold;text-transform: none;text-decoration: none;border-radius: 25px;}
.c_g_t_bt a img{position: relative;top: 10px;right: 8px;}


#create_btn_new{background: #7FC13D;position: absolute;top: 232px;z-index: 6999999;left: 0;
right: 0;max-width:250px;margin: 0 auto;padding: 6px 15px;color: #FFF;font-size: 18px;
line-height: normal;border-radius: 25px;}
#create_btn_new img{position: relative;top: 2px;}
#create_btn_new span{position: relative;top: -7px;left: 5px;}

#next-step{background:#11a2e0;position: absolute;bottom:80px;z-index: 6999999;left: 0;
right: 0;max-width:230px;margin: 0 auto;padding: 6px 15px;color: #FFF;
line-height: normal;border-radius: 25px;font-size: 24px;cursor: pointer;}
#next-step img{position: relative;top: 2px;right: -32px;}
#next-step span{position: relative;top: -7px;right: -10px;}


.top_corner{background: linear-gradient(0deg, transparent, black 80%) ;text-align: center;
padding: 50px 0;position: absolute;top: 92px;z-index: 999;display: block;width: 100%;}
.top_corner span{font-size: 29px;line-height: 19px;letter-spacing: -0.58px;color: #FFF;
    margin: 0 auto;text-transform: capitalize;}

.top_corner2{background: linear-gradient(0deg, transparent, black 80%) ;text-align: center;
padding:30px 0;position: absolute;top: 92px;z-index: 999;display: block;width: 100%;}
.top_corner2 span{font-size:25px;line-height:30px;letter-spacing: -0.58px;color: #FFF;
    margin: 0 auto 10px;text-transform: capitalize;display: block;width: 80%;}
.top_corner2 span.small_text{color: #FFF;font-size: 18px;line-height: 21px;letter-spacing: -0.36px;
width: 80%;margin: 0 auto;text-align: center;display: block;}

.bottom_text {
    background: linear-gradient(180deg, transparent, black 80%) ;
    padding: 25px 0;
    position: absolute;
    bottom: 0;
    z-index: 9999;
    color: #FFF;
    width:100%;
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;
}

.bottom_text span{color: #FFF;font-size: 20px;line-height: 22px;letter-spacing: -0.4px;
width: 80%;margin: 0 auto;text-align: center;display: block;}

/*****Responsive*****/
@media only screen and (max-width:374px){
  .blue_box{margin:5% 2.5% 5% 7.5%;}
  .sky_blue_box{margin:5% 7.5% 5% 2.5%;}
  .sky_blue_box2 img{left: 10px;}
}

@media only screen and (max-width:350px){
.gmt-h5{ bottom:350px !important;}
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
{

}

@media only screen and (min-width: 699px) {
  .img_res{
    max-width: 120px;
  }
  .yard_container{
    background-image: url(../images/squ_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
}